


  /* Global Styles */
body {
    background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg?w=360");
    background-size: cover;
    background-position: center;
    
    /*background-color: #000000;*/
    color: #080111; /* Set text color to white */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
    color: #1b1b3e; /* Set link color to white */
  }
  
  /* Header Section */
  img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  /* Education Section */
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  /* Work Experience Section */
  table {
    width: 80%;
    margin: 0; /* Remove auto margin */
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
  }
  
  /* Skills Section */
  table.skills-table {
    width: 60%;
    margin: 0; /* Remove auto margin */
    border-collapse: collapse;
  }
  
  table.skills-table td {
    padding: 10px;
    text-align: left;
  }
  
  /* Extra-curricular Activities Section */
  a {
    display: block;
    margin-bottom: 10px;
    
    text-decoration: underline;
    color: darkblue;
    
    
  }
  